@import "/css/styles.css";

.main {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.blog-container {
    display: grid;
    grid-template-columns: 600px 600px;
}

.blogpost-bg {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    /* padding-bottom: 18%; */
    margin-bottom: 2%;
}

/* .blog-img {
    width: 100%;
    height: auto;
} */

.btn-container {
    display: flex;
    position: relative;
    text-align: center;
}