@import "/css/styles.css";

 main {
    margin: 0 auto;
    max-width: 1200px;
}

.row {
    width:100%;
    margin: 0 auto;
}
.column {
    width: 50%;
    float: left; 
}

.bg-img {
    width: 90%;
    margin: 0 auto;
    min-height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin: 10px auto;
    /* max-width: 80%; */ 
}
.blog-title {
    max-width: 500px;
    margin: 0 auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* WORKING .blog-img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
} */
