html,
body {
  height: 100%;
}

body {
  background: #ffe1e0;
  font-family: Nunito, sans-serif;
  /* overflow: hidden; */
}

.center {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-top: 3em;
}

/* the second carousel will not show on desktop */
.mq-center {
  display: none;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  margin-top: 3em;
}
.mq-wrapper {
  display: none;
  overflow: auto;
}
.mq-wrapper .mq-inner {
  display: block;
  grid-gap: 1em;
  transition: all 1s ease-in-out;
}


.wrapper {
  display: flex;
  grid-gap: 1em;
  overflow: hidden;
  max-width: 960px;
}


.wrapper .inner {
  display: flex;
  grid-gap: 1em;
  transition: all 1s ease-in-out;
}

.inner a {
  color: #fff;
  text-decoration: none;
}

.card {
  border-radius: 0.5em;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

.card img {
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  display: block;
  float: left;
  width: 307px;
  height: 13em;
  object-fit: cover;
  margin-bottom: 15px;
}

.card .content {
  background: #1e005c;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  text-align: center;
  height: 17em;
}
.content h3,
h4 {
  font-family: 'Noto Serif', serif;
  letter-spacing: 1px;
  margin: 0.35em 0;
}

.content h3 {
  color: #ccc;
  font-size: 0.9rem;
  font-weight: 300;
}

.content h4 {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1;
}

.map {
  margin-top: 1em;
}
.map button {
  all: unset;
  background: #1e005c;
  cursor: pointer;
  margin: 0 0.125em;
  position: relative;
  user-select: none;
  border: 3px solid #1e005c;
  border-radius: 100%;
  height: 0.7em;
  width: 0.7em;
}

.map button.active,
.map button::after {
  background: #1e005c;
  border: 3px solid #1e005c;
  border-radius: 20px;
  width: 2em;
  transition: all 0.1s ease-in;
}



.map button:hover,
.map button.active {
  border: 3px solid #1e005c;
  background: white;
}

.map button.fourth, button.fifth,
button.sixth, button.seventh,
button.eighth, button.ninth {
  display: none;
  }

#carousel-link:hover {
  opacity: 0.8;
  transition: all 0.3s;
}

/* Media Query */
/* make the carousel smaller */
/* @media screen and (max-width: 1300px) {
  .wrapper {
    width: 50em;
  }
  .card img {
    width: 15.8em;
    height: 11em;
  }
  .card .content {
    height: 15em;
  }
  .content h4 {
    margin-top: 11em;
    font-size: 1rem;
  }
} */

/* Styles for the latest post on smaller screens */
@media screen and (max-width: 960px) {
  .mq-center {
    display: flex;
  }
  .mq-wrapper {
    display: block;
    width: 25em;
  }
  .center {
    display: none;
  }
  .card img {
    width: 25em;
    height: 14em;
  }
  .card .content {
    margin: 1em 0;
  }
  .content h4 {
    padding-bottom: 1.5em;
  }
}

@media screen and (max-width: 550px) {
  .card img {
    width: 100%;
    height: 8em;
  }
  .card .content {
    height: 100%;
  }
  .mq-wrapper {
    width: 16em;
  }
  .content h4 {
    font-size: 14px;
  }
}