/* ################### CONTACT #################### */

input {
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #fff;
  transition: 0.15s;
  outline: none;
  padding: 8px;
}

input:focus {
  width: 200px;
  background-color: #ffe1e0;
}

.form-error {
  display: none;
  color: #ee0000;
  font-size: 1rem;
}

.contact-section {
  margin: 15px 30px 15px 30px;
}

.success-wrapper {
  display: none;
}

.contact-h2 {
  font-family: "Noto", serif;
  color:#290a5c;
  text-align: center;
  margin-top: 5rem;
}

#contactForm {
  color: #fff;
  background-color: #290a5c;
  padding-top: 2rem;
  max-width: 550px;
  width: 90%;
  margin: 2rem auto 0 auto;
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 8vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
  rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
  

#contactForm input {
  color: #290a5c;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  resize: none;
  border: none;
  border-bottom: 1px solid #fff;
}

#contactForm input[type="text"]:focus {
  border-bottom: 1px solid #fff;
  color: #fff;
}

.submit-btn {
    width: 20%;
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 200px;
    background: #fff;
    color: #290a5c;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #290a5c;
  }

.submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.submit-btn:hover {
    background-color: #290a5c;
    color: #fff;
  }
  