/* ################### CONTACT #################### */
#contactForm {
    max-width: 550px;
    width: 90%;
    background: #290a5c;
    padding: 30px;
    margin: 14vh auto 0 auto;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 10vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
  
  #contactForm h3,
  h4 {
    color: white;
    margin: 0;
    text-align: center;
  }
  
  #contactForm h4 {
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 1.5px;
    margin-bottom: 40px;
  }
  
  #contactForm label {
    display: block;
    margin: 15px 0;
  }
  
  #contactForm input,
  textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid #290a5c;
  }
  
  #contactForm input[type="text"]:focus,
  textarea:focus {
    border-bottom: 1px solid #290a5c;
  }
  
  textarea::-webkit-scrollbar {
    width: 4px;
  }
  
  .center-form {
    text-align: center;
  }
  
  #contactForm input[type="submit"] {
    margin-top: 25px;
    margin-bottom: 0;
    width: 90%;
    max-width: 200px;
    background: #fff;
    color: #290a5c;
    font-size: 17px;
    cursor: pointer;
    border-radius: 3px;
    border: 3px solid #fff;
    /* margin-left: 9rem; */
  }

  .submit-container {
      text-align: center;
  }
  
  #contactForm input[type="submit"]:hover {
    background-color: #290a5c;
    color: #fff;
  }
  
  #errorMessage {
    display: none;
    color: #fff;
    margin-bottom: 20px;
    padding: 10px;
    background: #b00000;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease-in-out;
  }

