@import url(/css/about.css);
@import url(/css/navigation.css);
@import url(/css/blog.css);

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Nirmala UI;
}


/* HERO */
.bg-text {
    color: black;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-top: -9em;
}

/* .btn-container {
    display: flex;
    justify-content: center;
} */


.view-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#view-btn {
    width: 80px;
    height: 40px;
    background-color:#B51010;
    color: #fff;
    border: 2px solid #fff;
}

.blog-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#top-btn {
    color: #fff;
    padding: 8px 8px;
    background-color: #001F58;
    text-decoration: none;
    position: fixed;
    bottom: 10em;
    right: 10px;
}

/* Footer */
.footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 150px;
    width: 100%;
    background-color:#001F58;

}

span a {
    color: #fff;
    padding: 10px;
    font-size: 24px;
}

.copy {
    color: #fff;
}

.social-media i {
    margin-bottom: 20px;
}

.social-media, .copy-container {
    text-align: center;
}

