/* ################### IMPORT STYLE ####################  */
@import url(/css/about.css);
@import url(/css/navigation.css);
@import url(/css/blog.css);
@import url(/css/category.css);
@import url(/css/modal.css);
@import url(/css/details.css);


/* ################### IMPORT FONTS ####################  */
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

/* ################### UNIVERSAL STYLE ####################  */
*, html { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Nunito, sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


/* ################### LOADER #################### */
.loader-wrapper {
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*loading*/
.loader {
  margin-bottom: 100vh;
  border: 14px solid rgb(240, 240, 240);
  border-radius: 50%;
  border-top: 14px solid #290a5c;
  width: 90px;
  height: 90px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  display: inline-block;
  position: relative;
  margin-top: 100px;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.min-height {
  min-height: 100vh;
}

body {
  background-color: #ffe1e0;
  min-height: 100vh;
}

/* ################### GENERAL LAYOUT STYLE #################### */
main {
  margin: 0 auto;
  max-width: 960px;
  width: 80%;
}


.latest-heading {
  letter-spacing: 1px;
  color: #290a5c;
  font-family: 'Noto Serif', serif;
  text-align: center;
  margin-top: 3rem;
}

.btn-container {
  margin-top: 3rem;
  text-align: center;
}

/* ################### HERO HOMEPAGE #################### */
p.bg-text, .bg-text span {
  font-family: 'Noto Serif', serif;
  color: #290a5c;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: -9em;
}

/* #top-btn {
  padding: 8px 8px;
  background-color: #290a5c;
  position: fixed;
  bottom: 10em;
  right: 10px;
  border: 2px solid #290a5c;
}

#top-btn:hover {
  color: #290a5c;
  background-color: #ffe1e0;
} */
.arrow-up {
  font-size: 18px;
  font-weight: 500;
  line-height: 15px;
  position: fixed;
  z-index: 9990;
  right: 25px;
  bottom: 20px;
  display: none;
  visibility: hidden;
  overflow: hidden;
  padding: 10px 13px;
  cursor: pointer;
  transition: .15s ease-in-out;
  text-align: center;
  opacity: 0;
  color: #290a5c;
  border: 2px solid transparent;
  border-radius: 2px;
  background-color: white;
}
.arrow-up.is-block {
  display: block;
}
.arrow-up.is-opacity {
  opacity: 1;
  visibility: visible;
}

/* ################### FOOTER #################### */
footer {
  margin-top: auto;
}
.footer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 150px;
  width: 100%;
  background-color: #290a5c;
  bottom: 0;
  margin-top: 50px;
}

span a {
  color: #fff;
  padding: 10px;
  font-size: 24px;
}

span a:hover {
  color: #fefe00;
}

.copy {
  color: #fff;
}

.social-media i {
  margin-bottom: 20px;
}

.social-media,
.copy-container {
  text-align: center;
}

/* ################### CONTACT #################### */
#contactForm {
  max-width: 550px;
  width: 90%;
  background: #290a5c;
  padding: 30px;
  margin: 14vh auto 0 auto;
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 10vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

#contactForm h3,
h4 {
  color: white;
  margin: 0;
  text-align: center;
}

#contactForm h4 {
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 1.5px;
  margin-bottom: 40px;
}

#contactForm label {
  display: block;
  margin: 15px 0;
}

#contactForm input,
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  resize: none;
  border: none;
  border-bottom: 1px solid #290a5c;
}

#contactForm input[type="text"]:focus,
textarea:focus {
  border-bottom: 1px solid #290a5c;
}

textarea::-webkit-scrollbar {
  width: 4px;
}

.center-form {
  text-align: center;
}

#contactForm input[type="submit"] {
  margin-top: 25px;
  margin-bottom: 0;
  width: 90%;
  max-width: 200px;
  background: #fff;
  color: #290a5c;
  font-size: 17px;
  cursor: pointer;
  border-radius: 3px;
  border: 3px solid #fff;
  /* margin-left: 9rem; */
}

#contactForm input[type="submit"]:hover {
  background-color: #290a5c;
  color: #fff;
}

#errorMessage {
  display: none;
  color: #fff;
  margin-bottom: 20px;
  padding: 10px;
  background: #b00000;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease-in-out;
}

/* ################### RESPONSIVENESS FOR SCREENS SMALLER THAN 1200px #################### */
@media screen and (max-width: 1200px) {
  /* add some space to the dropdown etc. */
  .category-title, .dd-button, .dd-menu {
    margin: 10px 0 0 30px;
  }
  p.bg-text, .bg-text span {
    font-size: 22px;
  }
}

  /* ################### RESPONSIVENESS FOR SCREENS SMALLER THAN 960px #################### */
  @media screen and (max-width: 960px) {

  }

/* ################### RESPONSIVENESS FOR SCREENS SMALLER THAN 768px #################### */
@media screen and (max-width:768px) {

}

/* ################### RESPONSIVENESS FOR SCREENS SMALLER THAN 460px #################### */
@media screen and (max-width: 460px) {

}

/* ################### RESPONSIVENESS FOR SCREENS SMALLER THAN 279px #################### */
@media screen and (max-width: 279px) {

}
